img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .card {
            width: 180px;
            border: 1px solid #ccc;
            padding: 15px;
            border-radius: 10px;
            text-align: center;
            background-color: #f9f9f9;
            transition: transform 0.3s, box-shadow 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            border-color: blue;
        }

        .galeria {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: flex-start;
        }
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        h1 {
            font-family: Arial-BoldMT;
        }

        h2,
        h3 {
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .font-name {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
